<div class="post-field container-fluid">
  <h1>Angular Todo</h1>
  <p>Why hello There! This is my simple Angular Todo app.</p>
  <p>It uses ngModel and keyup.enter in input field</p>
  <p>and angulars click event in button</p>

  <input
    class="form-control form-control-lg"
    type="text"
    placeholder="todo"
    [(ngModel)]="newTodo"
    (keyup.enter)="addNew()"
  />
  <br />

  <button (click)="addNew()" class="btn btn-primary">Add New Todo</button>
  <br /><br />
  <ul class="list-group">
    <li
      class="list-group-item col-md-4 offset-md-4"
      *ngFor="let todo of todoArray; let i = index"
    >
      {{ todo }}
      <button (click)="onDelete(i)" class="btn btn-info">Done</button>
    </li>
    <li
      class="list-group-item col-md-4 offset-md-4"
      *ngIf="todoArray.length === 0"
    >
      You got some todo to do...
    </li>
  </ul>
</div>

<!--
  Review of My Code:

The code is well-structured with appropriate HTML tags and class names for styling.

The usage of Angular directives such as [(ngModel)] for two-way data binding and (keyup.enter) for the Enter key event is correct.

The (click) event binding on the button is properly implemented to trigger the addNew() function.

The <ul> element with the list items using *ngFor is correctly displaying the todos from the todoArray.

The additional <li> element with the *ngIf directive is correctly displayed when the todoArray is empty.

The use of Bootstrap classes for styling elements is appropriate, such as form-control and btn classes.

Overall, the code seems to be well-written and follows best practices. It should function as expected and provide the desired functionality for an Angular Todo application.

-->
